.usersmanager{
  padding: 14px;
  border-radius: 5px;
}
.usersmanager > .container-fluid{
  padding-bottom: 15px;
}
.content > .col-xs-12{
  padding-left: 0px;
  padding-right: 0px;
}
.index{
  width: 100px;
  height: 30px;
  background: rgba(0,0,0,0.5);
  font-size: 1.5rem;
  padding: 0.3vw 1vw;
  color: white;
  border-bottom: 3px skyblue solid;
}
.table{
  background: rgba(0,0,0,0.5);
}
.table-responsive{
  font-size: 14px;
}
.table > thead > tr >  th {
  font-size: 12px;
  background-color: #048992;
  color: #ffffff;
}
.table > tbody > tr > td {
  background-color: rgba(37,165,255,.1);
  color: white;
  border-bottom: 2px solid #b8b8b8;
}
.table > thead > tr > .checkboxoption {
  width: 10vw;
}
.glyphicon{
  margin-right: 1vw;
}
.modal-body > form > div{
  margin-bottom: 5px;
}
.modal-body{
  padding: 25px;
}

/*// 表单验证未通过的样式*/

.hasError{
  border: 1px red solid;
}
.status{
  padding: 15px;
  width: 280px;
  height: 45px;
  position: fixed;
  top: 20px;
  left: 45%;
  color: #FFFFFF;
  border-radius: 3px;
  z-index: 1100;
}
.success{
  background: rgba(0,128,125,0.7);
  box-shadow: 2px -2px 2px rgba(0,128,125,0.7) inset;
  border: 1px #008069 solid;
}
.fail{
  background: rgba(200,0,0,0.7);
  box-shadow: 2px -2px 2px rgba(200,0,0,0.9) inset;
  border: 1px #c30000 solid;
}
.remind{
  color: red;
}
.btn {
  margin: 5px;
  font-size: 5px;
  border: rgba(0, 0, 0, 0.5);
  float: right;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  outline: none;
}
.form-group{
  display: inline-table;
  padding: 15px;
  float: left;
}
