<div class="usersmanager">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 index">
        用户管理
      </div>
    </div>
    <div class="row options">
      <div class="col-xs-12">
        <button type="button" class="btn btn-default" (click)="openuserAdd(add)">
          <span class="glyphicon glyphicon-plus"></span>增加
        </button>
        <button type="button" class="btn btn-default" (click)="deleteuser()">
          <span class="glyphicon glyphicon-trash"></span>删除
        </button>
        <button type="button" class="btn btn-default" (click)="openuser(modify)">
          <span class="glyphicon glyphicon-pencil"></span>修改
        </button>
        <button type="button" class="btn btn-default" (click)="openuser()">
          <span class="glyphicon glyphicon-search"></span>查看
        </button>
      </div>
    </div>
    <div class="row content">
      <div class="col-xs-12">
        <table class="table table-responsive table-bordered">
          <thead>
          <tr>
            <th class="checkboxoption"><input type="checkbox">全选/或全不选</th>
            <th>身份证号码</th>
            <th>账号</th>
            <th>密码</th>
            <th>性别</th>
            <th>年龄</th>
            <th>电话</th>
            <th>居住地址</th>
            <th>姓名</th>
            <th>账号是否锁定</th>
            <th>角色ID</th>
            <th>省地区ID</th>
            <th>市地区ID</th>
            <th>（县/区）地区ID</th>
            <th>（镇/乡）地区Id</th>
            <th>管辖地区名称</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of Users; let i = index">
            <td><input type="checkbox"></td>
            <td>{{user['idCardNo']}}</td>
            <td>{{user['usename']}}</td>
            <td>{{user['password']}}</td>
            <td>
              <span *ngIf="user['gender'] === 'm' || user['gender'] === '男'">男</span>
              <span *ngIf="user['gender'] === 'w' || user['gender'] === '女'">女</span>
            </td>
            <td>{{user['age']}}</td>
            <td>{{user['phone']}}</td>
            <td>{{user['address']}}</td>
            <td>{{user['name']}}</td>
            <td>{{user['locked']}}</td>
            <td>{{user['roleId']}}</td>
            <td>{{user['provinceRegionId']}}</td>
            <td>{{user['cityRegionId']}}</td>
            <td>{{user['countyRegionId']}}</td>
            <td>{{user['townRegionId']}}</td>
            <td>{{user['managementArea']}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row text-center">
    </div>
  </div>
</div>

<!--模态框-->
<ng-template #add>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户增加</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="userAddForm">
        <div class="form-group" *ngFor="let add of addFields">
          <label>{{add.name}}</label>
          <input type="text" formControlName="{{add.content}}">
        </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="userAdd()">
        确定增加
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>

<!--用户修改-->
<ng-template #modify>
  <div class="modal-header">
    <h4 class="modal-title pull-left">用户信息修改</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="userModifyForm">
      <div class="form-group">
        <label></label>
      </div>
    </form>
    <div class="clearfix"></div>
    <div class="text-center">
      <span *ngIf="inputvalid" class="remind">无效输入,请检查你的输入</span>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-info" aria-label="Close" (click)="userModify()">
        确定修改
      </button>
      <button type="button" class="btn btn-danger" aria-label="Close" (click)="modalRef.hide()">
        返回
      </button>
    </div>
    <br>
  </div>
</ng-template>
