.login{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: url("../../assets/BK.jpg");
}
h2{
  margin-top: 0px;
  font-size: 1.5em;
}
.login-box{
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(255,255,255,0.1);
  color: #fff;
  padding: 32px;
}
.btn>a{
  color: white;
}
.btn>a:hover{
  text-decoration: none;
}
.btn>a>span{
  margin-left: 5px;
}
.btn-primary{
  width: 100%;
  border-radius: 5px;
}
.username-verification{
  position: absolute;
  top: 36px;
  left: 16px;
  color: #209E91;
}
.password-verification{
  position: absolute;
  top: 36px;
  left: 16px;
  color: #209E91;
}
.pull-right{
  color: #209E91;
}
.pull-right:hover{
  color: #1F5752;
  text-decoration: none;
}
.form-group{
  position: relative;
}
.form-control{
  font-size: 10px;
  height: 30px;
  color: black;
  margin-bottom: 10px;
}
