<div class="container-fluid" style="padding-top: 10px;">
    <div class="col-md-6 main">
      <div class="row" style="padding: 0px 16px;">
        <div class="col-md-12 col-xs-12 title">井盖信息添加</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel-body">
            <div class="form">
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group"><label>井ID:</label><input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group"><label>省地区ID: </label><input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group"><label>市地区ID: </label><input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group"><label>（县/区）地区ID: </label><input type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group"><label>（镇/乡）地区ID: </label><input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group"><label>传感器个数: </label><input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group"><label>材质: </label><input type="text" >
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group"><label>地址: </label><input type="text" >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group"><label>数据收集器: </label><input type="text">
                    </div></div>
                  <div class="col-md-3">
                    <div class="form-group"><label>创建时间: </label><input type="text">
                    </div></div>
                  <div class="col-md-3">
                    <div class="form-group"><label>GPS坐标：</label><input type="text">
                    </div></div>
                </div>
                <div>
                  <button type="button" class="btn btn-default">确定添加</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-6 main">
      <div class="row" style="padding: 0px 16px;">
        <div class="col-md-12 col-xs-12 title">进井信息添加</div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel-body">
            <div class="form">
              <form class="form-inline">
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>井ID:</label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>进井ID: </label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>进井管道ID: </label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>进井管道半径: </label>
                      <input type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>进井管道倾斜度: </label>
                      <input type="text">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>进井管道长度: </label>
                      <input type="text">
                    </div>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-default">确定添加</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="col-md-6 main">
    <div class="row" style="padding: 0px 16px;">
      <div class="col-md-12 col-xs-12 title">出井信息添加</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="form">
            <form class="form-inline">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>井ID:</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>进井ID: </label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>进井管道ID: </label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>进井管道半径: </label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>进井管道倾斜度: </label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>进井管道长度: </label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-default">确定添加</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 main">
    <div class="row" style="padding: 0px 16px;">
      <div class="col-md-12 col-xs-12 title">传感器信息添加</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-body">
          <div class="form">
            <form class="form-inline">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>井ID:</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>传感器所属模式:</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>模块ID：</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>高度：</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>传感器在模块中的位置</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>导管ID：</label>
                    <input type="text">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>数据收集器ID：</label>
                    <input type="text">
                  </div>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-default">确定添加</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
