<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="title">
        <i class="fa fa-navicon"></i>
      </div>
      <div class="user pull-right">
        <div class="user-admin">欢迎您，管理员</div>
        <div class="user-photo" (click)="onToggleInfo($event)">
          <img class="rounded-circle" src="./assets/Nasta.png" alt="">
        </div>
      </div>
      <div class="">
      </div>
    </div>
  </div>
</nav>
